<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../bower_components/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>

<script type="text/javascript" src="../bower_components/modernizr/modernizr.js"></script>
<script type="text/javascript" src="../bower_components/modernizr/feature-detects/css-scrollbars.js"></script>

<script type="text/javascript" src="../bower_components/pnotify/dist/pnotify.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/dist/pnotify.desktop.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/dist/pnotify.buttons.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/dist/pnotify.confirm.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/dist/pnotify.callbacks.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/dist/pnotify.animate.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/dist/pnotify.history.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/dist/pnotify.mobile.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/dist/pnotify.nonblock.js"></script>
<!-- <script type="text/javascript" src="../pages/pnotify/notify.js"></script> -->

<script type="text/javascript" src="../bower_components/i18next/i18next.min.js"></script>
<script type="text/javascript" src="../bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
<script type="text/javascript" src="../bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript" src="../bower_components/jquery-i18next/jquery-i18next.min.js"></script>
<script src="../js/pcoded.min.js"></script>
<script src="../js/vartical-layout.min.js"></script>
<script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../pages/data-table/js/dataTables.bootstrap4.min.js"></script>
<script src="../bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../pages/ckeditor/ckeditor.js"></script>

<script src="../pages/user-profile.js"></script>

<script type="text/javascript" src="../js/bootstrap-growl.min.js"></script>
<!-- <script type="text/javascript" src="../pages/notification/notification.js"></script> -->

<!-- add before </body> -->
<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>


<script type="text/javascript" src="../js/script.js"></script>
<!-- include FilePond library -->
<!-- <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script> -->
