<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Navigation</div>
        <ul class="pcoded-item pcoded-left-item">
            <% if (isAuthenticated) { %>

                <li class="pcoded-hasmenu">
                    <a href="/dashboard">
                        <span class="pcoded-micon"><i class="fa fa-home"></i></span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>

                <li class="pcoded-hasmenu">
                    <a href="/find-partner">
                        <span class="pcoded-micon"><i class="fa fa-hand-grab-o"></i></span>
                        <span class="pcoded-mtext">Find a partner</span>
                    </a>
                </li>

                <li class="pcoded-hasmenu">
                    <a href="/posts">
                        <span class="pcoded-micon"><i class="fa fa-film"></i></span>
                        <span class="pcoded-mtext">Posts</span>
                    </a>
                </li>
                <li class="pcoded-hasmenu">
                    <a href="/travel-posts">
                        <span class="pcoded-micon"><i class="fa fa-car"></i></span>
                        <span class="pcoded-mtext">Travel posts</span>
                    </a>
                </li>
                <li class="pcoded-hasmenu">
                    <a href="/chat">
                        <span class="pcoded-micon"><i class="fa fa-wechat"></i></span>
                        <span class="pcoded-mtext">Chat with friends</span>
                    </a>
                </li>
                <% } else {%>
            <li class="pcoded-hasmenu">
                <a href="/register">
                    <span class="pcoded-micon"><i class="fa fa-sign-in"></i></span>
                    <span class="pcoded-mtext">Sign Up</span>
                </a>
            </li>

            <li class="pcoded-hasmenu">
                <a href="/login">
                    <span class="pcoded-micon"><i class="fa fa-sign-in"></i></span>
                    <span class="pcoded-mtext">Sign In</span>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>