<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

<head>
  <!-- Required meta tags -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Favicon icon-->
<link
  rel="shortcut icon"
  type="image/png"
  href="images/favicon.ico"
/>

<!-- Core Css -->
<link rel="stylesheet" href="https://bootstrapdemos.adminmart.com/modernize/dist/assets/css/styles.css" />

  <title>Travel Partner SignUp</title>
</head>

<body>
  <div class="toast toast-onload align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body hstack align-items-start gap-6">
      <div>
        <h5 class="text-white fs-3 mb-1">Welcome to Travel partner</h5>
        <h6 class="text-white fs-2 mb-0">Please singup and find your travel partner!</h6>
      </div>
      <button type="button" class="btn-close btn-close-white fs-2 m-0 ms-auto shadow-none" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>


 
  <!-- Preloader -->
  <div class="preloader">
    <img src="images/Logo-small.png" alt="loader" class="lds-ripple img-fluid"/>
  </div>
  <div id="main-wrapper" class="content">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 w-100">
      <div class="position-relative z-index-5">
        <div class="row">
          <div class="col-xl-7 col-xxl-8">
            <a href="#" class="text-nowrap logo-img d-block px-4 py-9 w-100">
              <img src="images/logo.png" class="dark-logo" alt="Logo-Dark" width="15%" height="15%"/>
            </a>
            <div class="d-none d-xl-flex align-items-center justify-content-center" style="height: calc(100vh - 80px);">
              <img src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/images/backgrounds/login-security.svg" alt="" class="img-fluid" width="500">
            </div>
          </div>
          <div class="col-xl-5 col-xxl-4">
            <div class="authentication-login min-vh-100 bg-body row justify-content-center align-items-center p-4">
              <div class="auth-max-width col-sm-8 col-md-6 col-xl-7 px-4">
                <h2 class="mb-1 fs-7 fw-bolder">Welcome to Travel partner</h2>
                <p class="mb-7">Please singup and find your travel partner!</p>
                <div class="row">
                  <div class="col-6 mb-2 mb-sm-0">
                    <a class="btn text-dark border fw-normal d-flex align-items-center justify-content-center rounded-2 py-8"
                      href="javascript:void(0)" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <img src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/images/svgs/google-icon.svg" alt="" class="img-fluid me-2" width="18"
                        height="18" >
                      <span class="flex-shrink-0">with Google</span>
                    </a>
                  </div>
                  <div class="col-6">
                    <a class="btn text-dark border fw-normal d-flex align-items-center justify-content-center rounded-2 py-8"
                      href="javascript:void(0)" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <img src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/images/svgs/facebook-icon.svg" alt="" class="img-fluid me-2" width="18"
                        height="18">
                      <span class="flex-shrink-0">with FB</span>
                    </a>
                  </div>
                </div>
                <div class="position-relative text-center my-4">
                  <p class="mb-0 fs-4 px-3 d-inline-block bg-body text-dark z-index-5 position-relative">or sign
                    Up
                    with</p>
                  <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                </div>
                <% if (errorMessage) { %>
    
                  <div class="row">
                    <div class="col-12 mb-2 mb-sm-0">
                      <p class="mb-7 fw-bolder"><%= errorMessage %></p>
                    </div>
                  </div>
              
                  <%}%>
                <form action="/api/add/user" method="post" enctype="application/x-www-form-urlencoded" id="myRegistartionForm" >
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" >Name</label> 
                    <input type="text" class="form-control" id="userName" name = "userName" aria-describedby="textHelp">
                    <span id="nameError" class="text-danger error"></span>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="emailInfo" name="emailInfo" aria-describedby="emailHelp">
                    <span id="emailError" class="text-danger error"></span>
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pass" name="pass">
                    <span id="passwordError" class="text-danger error"></span>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 mb-4 rounded-2" >Sign Up</button>
                  <div class="d-flex align-items-center">
                    <p class="fs-4 mb-0 text-dark">Already have an Account?</p>
                    <a class="text-primary fw-medium ms-2" href="/login">Sign In</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-transparent sidebartoggler"></div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            We are working on it to signup based on the google or FB.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Import Js Files -->

<script src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/js/app.min.js"></script>
<script src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/js/app.init.js"></script>
<script src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/libs/simplebar/dist/simplebar.min.js"></script>

<script src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/js/sidebarmenu.js"></script>
<script src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/js/theme.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Simulate fetching data from server
    fetchDataFromServer().then(function() {
      // Hide preloader
      document.querySelector('.preloader').style.display = 'none';
      // Show content
      document.querySelector('.content').style.display = 'block';
    });
  });

  // Function to simulate fetching data from server
  function fetchDataFromServer() {
    return new Promise(function(resolve, reject) {
      // Simulate delay for fetching data
      setTimeout(function() {
        // Resolve the promise after delay (simulating successful data retrieval)
        resolve();
      }, 2000); // Adjust the time as needed
    });
  }
  
</script>

<script>
    $(document).ready(function() 
    {
        $('#myRegistartionForm').submit(function(event) 
        {
          // Clear previous error messages
          $('.error').text('');
          var name = $('#userName').val();
          var email = $('#emailInfo').val();
          var password = $('#pass').val();
          var isValid = true;
          let emailValidation = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          
          // Simple validation to check if name and email are not empty
            if (!name) 
            {
                $('#nameError').text('Name is required');
                isValid = false;
            }
            else if (name.toString().length < 2) 
            {
                $('#nameError').text('Name minimum character limit is 2');
                isValid = false;
            }
            else if (name.toString().length > 30) 
            {
                $('#nameError').text('Name maximum character limit is 30.');
                isValid = false;
            }

            if (!email) 
            {
                $('#emailError').text('Email is required');
                isValid = false;
            }
            else if (!emailValidation.test(email)) 
            {
                $('#emailError').text('Invalid email format');
                isValid = false;
            }
            else if (email && email.toString().length > 50) 
            {
                $('#emailError').text('Email maximum character limit is 50.');
                isValid = false;
            }

            if (!password) 
            {
                $('#passwordError').text('Password is required');
                isValid = false;
            }
            else
            {
                var symbolRegex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
                var numberRegex = /[0-9]/;
                
                if (!symbolRegex.test(password)) 
                {
                  $('#passwordError').text('Password must contain at least one symbol (!@#$%^&*()_+-=[]{};\\:"|,.<>/?).');
                  isValid = false;
                }
                if (!numberRegex.test(password)) 
                {
                  $('#passwordError').text('Password must contain at least one number.');
                  isValid = false;
                }

                if (password && password.toString().length > 15) 
                {
                    $('#passwordError').text('Password maximum character limit is 15.');
                    isValid = false;
                }
            }

            if (!isValid) 
            {
                event.preventDefault(); // Prevent form submission
            }
        });
    });
      
</script>

</body>
</html>