<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse" href="#!">
                <i class="feather icon-menu"></i>
            </a>
            <a href="/">
                <img class="img-fluid" src="../images/logo.png" alt="Theme-Logo" />
            </a>
            <a class="mobile-options">
                <i class="feather icon-more-horizontal"></i>
            </a>
        </div>
        <div class="navbar-container">
            <ul class="nav-left">
                <li>
                    <a href="#!" onclick="javascript:toggleFullScreen()">
                        <i class="feather icon-maximize full-screen"></i>
                    </a>
                </li>
            </ul>
            <% if (isAuthenticated) { %>
            <ul class="nav-right">
                <li class="user-profile header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <img  class="img-radius"
                                alt="User-Profile-Image" id="smallImage" src="#">
                            <span><%= username %></span>
                            <i class="feather icon-chevron-down"></i>
                        </div>
                        <ul class="show-notification profile-notification dropdown-menu"
                            data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li>
                                <a href="/user-profile">
                                    <i class="feather icon-user"></i> Profile
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="feather icon-log-out"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <% } %>
        </div>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function ()
    {
        // Prepare data to be sent in the request body
        var requestData = {
            id: "<%= id %>" // Example user ID, replace with your actual parameter
        };
        console.log('requestData', requestData)
        // Fetch user data from the backend when the page loads
        fetch('/api/user/id', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        })
            .then(response =>
            {
                if (response.ok)
                {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data =>
            {
                // Populate input boxes with fetched data
                let user = data && data.userDetails ? data.userDetails : null;
                let image = user && user.image ? user.image : null;

                if (image)
                {
                    const uploadedImage = document.getElementById('smallImage');
                    uploadedImage.src = '../images/uploads/' + image.profilePicId + '/' + image.profilePicName;
                }
                else
                {
                    const uploadedImage = document.getElementById('smallImage');
                    uploadedImage.src = `../images/human.png`;
                }

            })
            .catch(error =>
            {
                console.error('Error fetching user data:', error);
            });

    });
</script>